.venv/
__pycache__/
*.pyc
back-end/db.sqlite3

.env
Diagrama_Gantt.jpeg
Diagrama_Pert.jpeg
MEMORIA.md

# Media (imágenes y archivos subidos)
back-end/media/

#Variables de entorno
back-end\.env

#extras
.clinerules/
.continue/
.obsidian/
archivosExtra/
PDF'S/